/* ===============================
   SMARTPATH AI PREMIUM SPLASH
================================ */

#smartpathSplash {

    position: fixed;

    inset: 0;

    background:
    radial-gradient(circle at center,
    rgba(217,4,41,0.25),
    transparent 40%),
    #050505;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    z-index: 99999;

    animation: splashFade 0.8s ease forwards;

}


.smartpath-logo-loader {

    width: 130px;

    height: 130px;

    border-radius: 50%;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    animation:
    logoFloat 2s infinite ease-in-out;

}


.smartpath-logo-loader::before {

    content:"";

    position:absolute;

    inset:-15px;

    border-radius:50%;

    border:3px solid #d90429;

    animation:
    energyRing 2s infinite linear;

}


.smartpath-logo-loader img {

    width:100px;

    height:100px;

    object-fit:contain;

}



.smartpath-title {

    margin-top:35px;

    color:white;

    font-size:28px;

    font-weight:800;

    letter-spacing:1px;

}



.smartpath-status {

    margin-top:15px;

    color:#aaa;

    font-size:15px;

}



.smartpath-loading {

    margin-top:25px;

    width:220px;

    height:6px;

    background:#222;

    border-radius:20px;

    overflow:hidden;

}



.smartpath-loading span {

    display:block;

    height:100%;

    width:70%;

    background:#d90429;

    animation:
    loading 2s infinite;

}



/* Animations */


@keyframes energyRing {

    from {
        transform:rotate(0deg);
    }

    to {
        transform:rotate(360deg);
    }

}


@keyframes logoFloat {

    50% {
        transform:translateY(-10px);
    }

}


@keyframes loading {

    0% {
        width:10%;
    }

    50% {
        width:90%;
    }

    100% {
        width:10%;
    }

}


@keyframes splashFade {

    from {
        opacity:1;
    }

    to {
        opacity:1;
    }

}


.smartpath-hide {

    opacity:0;

    pointer-events:none;

    transition:
    opacity .8s ease;

}
